<div class="col-md-4">
  <div class="card mb-4 box-shadow" data-id="<%= portfolio_item.id %>">
    <img class="card-img-top" <%= image_tag portfolio_item.thumb_image.url if !portfolio_item.thumb_image.nil? %>
    <div class="card-body">
      <p class="card-text">
      	<span><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></span><%= portfolio_item.subtitle %>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
        </div>
      </div>
    </div>
  </div>
</div>